@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;;
}

header {
    background-color: #FF69B4;  
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.caixaLogo {
    display: flex;
    align-items: center;
    width: 25vw;
    img{
        width: 5vw;
    }
    p {
        color: #FFFFFF;
        font-size: 1.8em;
    }
}

nav {
    width: 40vw;
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        a {
            color: #FFFFFF;
            font-size: 1.8em;
            text-decoration: none;
        }
    }
}

.secaoPrevencao {
    background-color: #FFD9EC;
    height: 42vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div { 
        width: 24vw;
        p {
            font-size: 1.2em;
        }
    }
    img {
        width: 18vw;
    }
}

.secaoEventos {
    background-color: #FF69B4;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div { 
        width: 24vw;
        p {
            color: #FFFFFF;
            font-size: 1.2em;
        }
    }
    img {
        width: 20vw;
    }
}

.secaoOrientacoes {
    background-color: #FFD9EC;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        width: 12vw;
    }
}

footer {
    background-color: #FF69B4;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .iconesFooter {
        width: 18vw;
        display: flex;
        justify-content: space-around;
        img {
            width: 3vw;
        }
    }
    ul {
        text-align: center;
        list-style: none;
        li {
            color: #FFFFFF;
            font-size: 1em;
        }
    }
    .iconeLacoRosa {
        width: 18vw;
        display: flex;
        justify-content: flex-end;
        img {
            width: 5vw;
        }
    }
}